[submodule "Segundo/Programacion III/TP FINAL/tuia-prog3"]
	path = Segundo/Programacion III/TP FINAL/tuia-prog3
	url = https://github.com/jqnag8/tuia-prog3.git
[submodule "Segundo/Probabilidad y Estadistica/TP"]
	path = Segundo/Probabilidad y Estadistica/TP
	url = https://github.com/winttita/TP-Final-PyE.git
[submodule "Segundo/Bases de Datos II/TP"]
	path = Segundo/Bases de Datos II/TP
	url = https://github.com/winttita/TP-Final-BDDII.git
[submodule "Segundo/Redes de Datos/TP"]
	path = Segundo/Redes de Datos/TP
	url = https://github.com/winttita/TP-Final-RDD.git
[submodule "Primero/Entorno de Programacion/TP/tpentorno2025"]
	path = Primero/Entorno de Programacion/TP/tpentorno2025
	url = https://github.com/winttita/TP-Final-EDP.git
[submodule "Primero/Bases de Datos I/TP FINAL"]
	path = Primero/Bases de Datos I/TP FINAL
	url = https://github.com/winttita/TP-Final-BDDI.git
[submodule "Segundo/Aprendizaje Automatico I/TPs"]
	path = Segundo/Aprendizaje Automatico I/TPs
	url = https://github.com/valentinocivetta04/TP_AA1_Civetta_Fucci_Frank_Winter.git
[submodule "Segundo/Procesamiento del Lenguaje Natural/TPs"]
	path = Segundo/Procesamiento del Lenguaje Natural/TPs
	url = https://github.com/valentinocivetta04/PLN_Grupo7_Civetta_Fucci_Frank_Winter.git
[submodule "Segundo/Mineria de datos/TPs"]
	path = Segundo/Mineria de datos/TPs
	url = https://github.com/winttita/TP_MD_Frank_Winter.git
