[submodule "Segundo/Programacion III/TP FINAL/tuia-prog3"]
	path = Segundo/Programacion III/TP FINAL/tuia-prog3
	url = https://github.com/jqnag8/tuia-prog3.git
[submodule "Segundo/Probabilidad y Estadistica/TP"]
	path = Segundo/Probabilidad y Estadistica/TP
	url = https://github.com/winttita/TP-Final-PyE.git
[submodule "Segundo/Bases de Datos II/TP"]
	path = Segundo/Bases de Datos II/TP
	url = https://github.com/winttita/TP-Final-BDDII.git
[submodule "Segundo/Redes de Datos/TP"]
	path = Segundo/Redes de Datos/TP
	url = https://github.com/winttita/TP-Final-RDD.git
[submodule "Primero/Entorno de Programacion/TP/tpentorno2025"]
	path = Primero/Entorno de Programacion/TP/tpentorno2025
	url = https://github.com/winttita/TP-Final-EDP.git
[submodule "Primero/Bases de Datos I/TP FINAL"]
	path = Primero/Bases de Datos I/TP FINAL
	url = https://github.com/winttita/TP-Final-BDDI.git
[submodule "Segundo/Procesamiento del Lenguaje Natural"]
	path = Segundo/Procesamiento del Lenguaje Natural
	url = https://github.com/winttita/Natural_Language_Processing.git
